@use '../mixins/responsive.scss' as*;


.button{
    font-family: 'Karla', sans-serif;
    color: var(--white-text);
        border: 1px solid var(--white-text);
        padding: 0.5rem 2rem;
      &:hover{
        background-color: var(--white-text);
        color: var(--primary-color);
      }
    &--menu{
        font-weight: 700;
        font-size: 1.5rem;
        padding: 0.5rem 6rem;
        @include responsive(laptop){
            color: var(--title-color);
            font-size: 0.8rem;
            padding: 0.5rem 1rem;
            border: 1px solid var(--title-color);
            &:hover{
                background-color: var(--primary-color);
                color: var(--white-text);
            }
        }
    }
}
